@media screen and (max-width: 800px) {
    .template-1 .fullwidth .pos-one,
    .template-1-landing .fullwidth .pos-one {
      overflow: hidden;
    }
  
    .fullwidth .col-sm-6 {
      width: 100% !important;
      float: initial;
    }
  
  
  }

@media screen and (max-width: 740px) {


    /* ---------------------------------------FULLMENU */
    .fullMenu .col-copy {
        overflow: hidden;
        transition: height 1s ease-in-out;
        height: 0px;
    }

    body {
        font-size: 91%;

    }

    .underMenu h3,
    .tabs h3 {
        font-size: 1em;
    }



}


@media screen and (max-width: 700px) {

    .mainMenu .pos-three { /* iglogo */
        display: none;
      }

    .menuHamburger, .mainMenu .pos-four {
        /* width: 100%; */
        height: 100%;
        /* background-color: slateblue; */
        display: block;
        padding: 5px;
    }

    .menuHamburger {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        width: 7vw;
        float: right;
    }

    .mainMenu .pos-four div {
        width: 100%;
        height: 2px;
        background-color: black;
        display: block;

    }

    .tabs {
        display: none;
    }

    .mainMenu .pos-one {
        display: none;
    }

    .mainMenu .pos-two p {
        text-align: left;
    }

     /* ------------------------------------------- REORGANIZE LIBRARY */
    .fullwidth .row {
        /* flex-wrap: wrap; */
        display: block !important;
    }

    .buttonLibrary {
        display: none ! important;
    }

    .template-1 .backgroundColored .col-copy h6 {
        text-align: center;
    }

    .template-1 .backgroundColored {
        background-color: white !important;
    }

    .template-1 .media {
        margin: auto;
    }

    .fullwidth .col-sm-6 {
        height: auto !important;
    }

/*
    .fullwidth .row .pos-one {
        order: 2;
    }

    .buttonLibrary, .tabs, .underMenu {
        display: none !important;
    }

    .backgroundColored {
        background-color: transparent !important;
        margin: 16px;
        height: auto;
    }

    .backgroundColored .media {
        margin: auto;
        width: 100% !important;
    }

    .backgroundColored .backgroundColored .col-copy h6 {
        text-align: center;
        font-size: 1.5em;
        width: 90%;
        margin: auto;
    }

    .template-1 .fullwidth .col-img {
        height: auto;
    }

    .backgroundColored .col-copy {
        display: flex;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block !important;
        padding: 3px;
        width: 10px;
        height: 10px;
      }
      
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      } */


}