.container.mainMenu {
    background-color: #00537F;
}

.homepage img {
    height: 100vh !important;
    object-fit: cover;
}

/* /////// img full screen issue ///////// */

/* #block-system-main {

} */

.container.mainMenu span {
    color: white !important;

}

.container.mainMenu * img.igLogo {
    filter: brightness(100%) !important;
}

/* ///////////////////////// more images/////////////////////////// */

.moreImages {
    display: none;
}