body {
    color: black;
    /* background-color: cadetblue !important; */
}


.pane-title {
    display: none;
}

#breadcrumbWrapper {
    display: none;
}

#stickySearch {
    display: none;
}

#header {
    display: none;
}

/* //////////////////// HIDE STICKY SEARCH MENU ////////////////////// */


#nav-bar {
    background-color: transparent;
    display: block;
}
div#stickySearch {
    display: none;
}

/* //////////////////// MENU TITLE ////////////////////// */

#nav-bar.sticky {
    display: none;
}

#nav-bar {
    border: #033c5a solid 1px;
    position: fixed !important;
    height: 50px;
}

#nav-bar-wrapper {
    background-color: white;
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.nav-group {
    display: inline !important;
}

#navigation {
    height: 100%;
}

nav#main-nav {
    height: 100%;
}

.container {
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-top: 0px;
    padding: 0px;
    padding-top: 10px;
}

#main-nav .row {
    height: 100%;
    width: 100%;
    position: relative;
    left: 33px;
}

.row .col-md-4 {
    height: 100%;
}

.row article {
    height: 100%;
}

.row header {
    display: none;
}

.row .col-copy {
    height: 100%;
}

.row .col-copy p {
    height: 100%;
}

.container * img {
    height: 30px !important; 
    width: 30px !important;
}

.igLogo {
    float: right;
    transform: translate(0, -48%);
}

.titleCotsonTextileStudyCenter {
    text-align: center;
}

/* ///////////////////////////////////// */

a {
    text-decoration: none;
}

#stickyLogo {
    display: none;
}