.container {
    background-color: #00537F;
}

.container span{
    color: white;
}

.homepage img {
    height: 100vh !important;
    object-fit: cover;
}

/* /////// img full screen issue ///////// */

/* #block-system-main {

} */