body {
    color: black;
    /* background-color: cadetblue !important; */
}


.pane-title {
    display: none;
}

#breadcrumbWrapper {
    display: none;
}

#stickySearch {
    display: none;
}

#header {
    display: none;
}

/* //////////////////// HIDE STICKY SEARCH MENU ////////////////////// */


#nav-bar {
    background-color: transparent;
    display: block;
}
div#stickySearch {
    display: none;
}

/* //////////////////// MENU TITLE ////////////////////// */

#nav-bar.sticky {
    display: none;
}

.fadeInDown {
    -webkit-animation-name: none;
    animation-name: none;
}

#nav-bar {
    border: black solid 1px;
    position: fixed !important;
    height: 50px;
}

.mainWrapper {
    padding-left: 0px;
    padding-right: 0px;
}

#nav-bar-wrapper {
    background-color: white;
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.nav-group {
    display: inline !important;
}

#navigation {
    height: 100%;
}

nav#main-nav {
    height: 100%;
}

.container.mainMenu {
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-top: 0px;
    padding: 0px;
    padding-top: 10px;
    max-width: 100000000px;
    color: black;
}

.mainWrapper .row {
    margin-left: -32px; 
    margin-right: -32px;        
}

#main-nav .row {
    height: 100%;
    width: 100%;
    position: relative;
    left: 33px;
}

.row .col-md-4 {
    height: 100%;
}

.row article {
    height: 100%;
}

.row .col-copy {
    height: 100%;
}

.row .col-copy p {
    height: 100%;
}

.container.mainMenu * img.igLogo {
    float: right;
    transform: translate(0, -48%);
    height: 30px !important; 
    width: 30px !important;
    filter: brightness(0%);
}

.titleCotsonTextileStudyCenter {
    text-align: center;
}

#navigation-mobile {
    display: none;
}

.col-md-3 {
    width: 25%;
    float: left;
}

.col-md-6 {
    width: 50%;
    float: left;
}

/* ////////////////////// footer ////////////////// */

#local-footer {
    display: none;
}

/* ///////////////////////////////////// */

* {
    color: black !important;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Avenir Next Cyr W00 Light',Helvetica,Arial,sans-serif !important;
}

a:hover {
    text-decoration: none;
    color: grey;
}

#stickyLogo {
    display: none;
}

/* ///////////////// MEDIA AND DOCU /////////////////// */

.container.mediaAndDocu {
    padding-top: 45px;
    text-align: center;
    width: 80%;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border-bottom: solid 1px;
}

.mediaAndDocu article {
    border-bottom: black solid 1px;
}